body{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: bold;
    font-size: 10px;
}
.main{
    max-width: 1500px;
    height: 1000px;
    background: linear-gradient(90deg,#3E718E   , #64969B);
    padding: 4% 5% 10% 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white{
    width: 46%;
    height: 100%;
    background-color: white;
    background-image: url(../Stroke\ 5.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    overflow: hidden;
}
.gradient{
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
	background-image: linear-gradient(70deg,#6E9195, #2D4F61);
    font-size: 2.4rem;
    font-weight: bolder;
    margin-left: 5%;
}
h1{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
form{
    width: 70%;
    margin: auto;
}
label{
    font-size: 1.6rem;
    font-weight: 400;
    display: block;
}
input, select{
    width: 100%;
    height: 30px;
    margin: 5px 0 20px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
}
input::placeholder{
    color: #517879;
    font-size: 1.2rem;
}
#password{
    margin: 5px 0;
}
#password::placeholder{
    color: #CCCCCC;
    font-size: .8rem;
}
.mini_lable{
    font-size: 1rem;
    color: #A8A8A8;
}
label span{
    font-size: 1.2rem;
    color: #A8A8A8;
}
.location {
    margin-top: 20px;
}
button{
    width: 70%;
    height: 50px;
    margin: 15% 15% 2% 15%;
    color: white;
    background-color: #284A5E;
    border-radius: 5px;
    border: none;
    font-size: 1.6rem;
}
.login{
    width: 70%;
    margin: 20px auto;
    text-align: center;
    font-size: 1.6rem;
    color: #C4C4C4;
}
.login a{
    color: #476D73;
    text-decoration: none;
}
.no_white{
    width: 40%;
    height: 100%;
    background: linear-gradient(180deg, #517879, #214159);
    box-shadow: -5px 0 10px rgb(43, 64, 82), 0 0px 3px rgba(43, 64, 82, 0.575);
    border: #5178799c solid 2px;
    box-sizing: border-box;
    overflow: hidden;
}
.nav{
text-align: right;
padding-top: 10px;
}
.nav a{
    text-decoration: none;
    height: 20px;
    color: white;
    padding: 10px;
    font-size: 1.6rem;  
}
.no_white p{
    color: white;
    font-size: 1.6rem;
    margin: 33% 0 2% 8%;
}
.no_white span{
    font-size: 4.8rem;
    display: block;
}