*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, main, footer{
    min-width: 1000px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}  
header{
    height: 700px;
    background-image: url(../images/background.png);
    padding-top: 100px;
}
.cards{
    width: 90%;
    margin: auto;
}
.cards p{
    text-align: left;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 40px;
}
.black{
    width: 300px;
    height: 370px;
    background-color: black;
    display: inline-block;
    vertical-align: top;
    margin: 40px 20px;
}
.black_text{
    margin: 40px auto;
    width: 150px;
}
.black_foto{
    width: 230px;
    margin: 40px 0;
}
.cards > img{
    width: 92%;
    margin-bottom: 40px;
}
footer{
    background-color: black;
    height: 250px;
    padding-top: 60px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
ul{
    display: inline-block;
}
ul li{
    list-style: none;
    text-align: left;
    margin: 0 200px 20px 100px;
}
footer p{
    width: 280px;
    padding-bottom: 5px;
    border-bottom: 8px solid #FF6B00;
    margin: 0 auto 10px;
}
.icons a{
    margin: 10px;
    vertical-align: text-top;
}
