*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: #212529;
    color: white;
    text-align: center;
}
nav{
    width: 100%;
    margin: 0 auto;
    padding: 5px 20px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > img{
    width: 7%;
    margin: 5px;
}
nav ul{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}
nav  a{
    color: white;
    text-decoration: none;
    
    font-weight: 600;
    font-size: 1.8rem;
}
nav ul a:hover{
    color: #FFB742;
}
.button_orange{
    width: 80px ;
    text-decoration: none;
    text-align: center;
    padding: 4px 0;
    color: black;
    background-color: #FFB742;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
}
section{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-top: 50px;
    padding-bottom: 100px;
}
section h3{
    font-size: 3.2rem;
}
section a{
    text-decoration: none;
}
section span{
    color: #FFB742;
    border-bottom: 2px solid #FFB742;
}
h2{
    font-size: 48px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
section h4{
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 20px;
}
.card{
    width: 90%;
    margin: 0 auto 80px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}
.card_item{
    width: 30%;
    height: 70px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292B2E;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}
.card_item > img{
    width: 40px;
    height: 40px;
} 
.card_item span{
    font-size: 32px;
    display: block;
    color: #FFB742;
}
.card_item > a{
    text-decoration: none;
    color: #B3B3B3;
}
.card_item:hover{
    color: black;
    background: linear-gradient(90deg,#FFB742,#FF7B42);
}
.card_item:hover span{
    color: black;
}
.about_me{
    width: 90%;
    display: flex;
    overflow: auto;
}
.about_foto{
    width: 45%;
}
.about_foto img{
    width: 100%;
}
.about_text{
    width: 55%;
    height: 230px;
    padding-left: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.black_button{
    width: 100px;
    background-color:#292B2E ;
    text-align: center;
    border-radius: 25px;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFB742;
}
.about_text p{
    line-height: 1.4;
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 30px;
    color: #D4D4D4;
}
.skills{
    width: 95%;
    max-height: 400px;
    overflow: auto;
    display: flex;
    margin-bottom: 20px;
}
.skills_text{
    width: 45%;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.skills_text p{
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 20px;
}
.all_icons{
    width: 55%;
    margin: 0 auto;
}
.skills_icon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}
.skill{
    width: 80px;
    height: 80px;
    background-color: #383E45;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.skill:hover{
    background-color: #ffb74281;
}
.my_works{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.black_button_center{
    margin: 0 auto;
}
.my_works ul{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 20px;
}
.my_works ul a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    padding: 5px 10px;
    border-radius: 3px;
}
.my_works ul a:hover{
    background-color:#FFB742;
}
.works_foto{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.two_foto{
    width: 32%;
}
.two_foto img{
    width: 100%;
}
.testimonials{
    width: 90%;
    margin: 0 auto 100px;
}
.testimonials h2{
    font-size: 3.9rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;
}
.all_items{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.testimonials_item{
    width: 30%;
    height: 300px;
    padding: 15px;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 1.4rem;
    text-align: left;
    display: inline-block;
    overflow: hidden;
}
.testimonials_item p{
    margin: 10px 0;
}
.user{
    display: flex;
    align-items: center;
}
.user img{
    margin-right: 20px;
}
.testimonials_item span{
   display: block;
   font-weight: bold;
}
footer{
    width: 100%;
    height: 300px;
    background-color: black;
    margin: 0 auto 80px auto;
    padding-left: 15%;
    display: flex;
    align-items: center;
}
footer>p{
    width: 26%;
    text-align: left;
    line-height: 1.5;
}
footer span{
    color: #FFB742;
    font-size: 2.6rem;
    font-weight: bold;
    display: block;
    margin-right: 40px;
}
footer ul{
    width: 15%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 3.6rem;
    list-style: none;
    text-align: left;
}
footer ul p{
    font-weight: bold;
    margin-bottom: 15px;
}
footer ul a{
    color: #7B7B7B;
    text-decoration: none;
    line-height: 2;
}