section{
    max-width: 900px;
    height: 450px;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-auto-rows: 50px;
    grid-gap: 15px;
    background-color: #EB996B;
    padding: 40px;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
section > div{
    background-color: white;
    font-size: 12px;
    border-radius: 20px;
    box-shadow: 7px 7px black;
    padding: 15px 25px;
}
h1{
    font-size: 24px;
    font-weight: 700;
}
h2{
    font-weight: 700;
    margin: 0;
}
img{
    margin: 0 0 8% 30%;
}
ul{
    line-height: 1.8;
}
.persona{
    grid-column: 1;
    grid-row: 1/7;
}
.persona > div{
    width: 85%;
    height: 25px;
    display: flex;
    justify-content: space-between;
}
.persona span{
    font-weight: bolder;
}
.bio{
    grid-column: 2/4;
    grid-row: 1/3;
}
.goals{
    grid-column: 2;
    grid-row: 3/5;
    box-shadow: 7px 7px #29A71E;
}
.goals h2{
    color: #29A71E;
}
.frustrations{
    grid-column: 3;
    grid-row: 3/6;
    box-shadow: 7px 7px #E13535;
}
.frustrations h2{
    color: #E13535;
}
.dream{
    grid-column: 2;
    grid-row: 5/8;
    box-shadow: 7px 7px #3675B0;
}
.dream h2{
    color: #3675B0;
}
.personality{
    grid-column: 3;
    grid-row: 6/8;
}
.text{
    padding: 0;
    text-align: center;
}
