*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    min-width: 700px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}
h1{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    color:#3E45E8;
    font-size: 48px;
}
span{
    color:#E8C23E;
}
.background{
    height: 640px;
    background-image: url(../images/background.png);
    background-size: 120%;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.5;
    color: white;
    display: flex;
    align-items: center;
    text-align: left;
}
.background img{
    margin: auto 30px auto 70px;
    height: 200px;
}
h2{
    font-size: 40px;
    margin: auto;
}
.left_h2{
    text-align: left;
    margin: 40px 0 10px 70px;
}
.prapor_gorizontal{
    text-align: left;
    margin-bottom: 20px;
}
.cards{
    text-align: center;
    margin-bottom: 40px;
}
.cards > div {
    width: 290px;
    height: 360px;
    margin: 20px;
    border: 5px solid #0D095F;
    border-radius: 9%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.cards img{
    width: 281px;
    margin-bottom: 10px;
}
.cards h3{
    color:#0072DB;
    text-transform: none;
    line-height: 35px;
    font-size: 22px;
    margin-left: 10px;
}
.cards p{
    color: #FF9900;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 10px 0 0 10px;
}
.item_1{
    box-shadow: -15px 15px 10px #60acd488;
}
.item_2{
    box-shadow: 0 15px 10px #60acd488;
}
.item_3{
    box-shadow: 15px 15px 10px #60acd488;
}
.border{
    width: 550px;
    border-bottom: 5px solid #3E45E8;
}
.mapa{
    margin: 50px 0;
}
.button{
    display: block;
    width: 450px;
    height: 70px;
    border-radius: 40px;
    background-color:#0072DB;
    margin: 0 auto 30px auto;
    padding: 7px 0 10px 0;
    color: white;
    font-size: 50px;
    text-decoration: none;
}
footer a{
    text-decoration: none;
    color: #A89D9D;
    font-size: 36px;
    font-weight: 100;
    margin-left: 20px;
}
footer{
    background-color: #0D0661;
}