*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
body{
    min-width: 1000px;
    max-width: 1700px;
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
}
header{
    background-color: #243B93;
}
.header{
    width: 85%;
    height: 65px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.header > img{
    height: 80%;
}
.nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.nav > a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
}
.language{
    width: 6%;
    font-size: 2.8rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section{
    background-color: #f6e1f5;
    position: relative;
}
section > h1, section > h2{
    padding: 10px 7.5%;
    background-color: #BFF0FF;
    font-size: 4.4rem;
    font-style: italic;
    font-weight: normal;
}
.choice{
    width: 85%;
    height: 50px;
    background-color: white;
    margin: 27px auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.choice > p{
    width: 85%;
    text-align: center;
    font-size: 2.8rem;
    color: rgba(0, 0, 0, 0.553);
}
.choice  img{
    height: 60%;
    margin: 10px;
}
.card{
    width: 85%;
    height: 300px;
    margin: auto;
    padding: 10px 20px;
    display: flex;
    position: relative;
    background: linear-gradient(90deg,#ADCBD4, #00AEE5);
    margin-bottom: 40px;
}
.foto_card{
    width: 35%;
    height: 100%;
    margin: 13px 10px 20px 52px;
}
.foto_card img{
    width: 95%;
    height: 248px;
}
.text_card{
    width: 75%;
}
.card h2{
    width: 100%;
    font-size: 3.6rem;
    font-style: italic;
    font-weight: bold;
    margin-top: 14px;
    border-bottom: 4px solid white;
}
.card p{
    font-size: 2.2rem;
    font-weight: normal;
    width: 100%;
    height: 64%;
    margin-top: 15px;
    padding: 13px 12% 20px 16px;
    background-color: white;
    overflow: auto;
}
.card > img{
    position: absolute;
    right: 5px;
}
.card > a, .user_foto a, .go_out{
    width: 21rem;
    height: 4.6rem;
    background-color: #243B93;
    border-radius: 25px;
    color: white;
    font-size: 2.4rem;
    text-decoration: none;
    text-align: center;
    padding-top: 5px;}
.card > a{
    position: absolute;
    right: -20px;
    bottom: 10px;
}
.card:hover {
    background: #2CBDEB;
    box-shadow: 0 0 50px rgb(5, 116, 208);
    cursor: pointer;
}
.card:hover path{
    fill: #FFF500;
}
.card:hover a, .user_foto a:hover, .go_out:hover{
    background-color: #EF075B;
    cursor: pointer;
}
.user{
    background: linear-gradient(90deg, #FFE601, #55D6FF);
    margin-bottom: 40px;
}
.rekvizit_user{
    width: 85%;
    height: 498px;
    margin: auto;
    background: linear-gradient(#859EFF, #69FFD2);
    display: flex;
}
.user_foto{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.user_foto img{
    width: 196px;
}
.user_foto a{
    text-decoration: none;
}
.user_text{
    width: 60%;
    margin-top: 50px;
}
.user_text p, .user_text span{
    font-size: 3.6rem;
    font-style: italic;
    border-bottom: 5px solid white;
    padding: 15px 0;
}
.user_text p{
    width: 95%;
}
.user_text span{
    font-weight: bold;
}
.without_border, .without_border span{
    border: none !important;
}
.go_out{
   margin: 20px auto 50px; padding-top: 8px;
}
.go_out a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
}
.contakt{
    width: 85%;
    height: 300px;
    margin: auto;
}
.contakt_text{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.contakt h4{
    width: 100%;
    font-size: 3.2rem;
    font-weight: normal;
    border-bottom: 3px solid rgba(0, 0, 0, 0.485);
}
.contakt p{
    font-size: 3rem;
}
.contakt_small{
    display: inline-block;
    width: 45%;
}
.contakt_big{
    width: 33%;
}
iframe{
    width: 499px;
    height: 290px;
    border: 4px solid #243B93;
    border-radius: 20px;
    position: absolute;
    right: 50px;
    bottom: 22px;
}
.arrow_div{
    width: 85%;
    position: relative;
}
.arrow{
    position: fixed;
    bottom: 100px;
    right: 30px;
}
footer {
    height: 50px;
    background-color: #243B93;
    color: white;
    padding: 10px;
}
footer p{
    font-size: 1.6rem;
    width: 85%;
    margin: auto;
}